.home-banner {
  // background-image: url("./images/home/Banner_lendmesh_1920.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  @media screen and (max-width: 1280px) {
    // background-image: url("./images/home/banner-lendmesh-2.png");
    background-size: cover;
  }
  @media (max-width: 768px) {
    // background-image: url("./images/home/banner-lendmesh-2.png");
  }
  @media screen and (max-width: 600px) {
    // height: 35vh;
    // min-height: 300px;
  }
}
.home-banner-part-1 {
  background-image: url("/images/home/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.home-banner-part-2 {
}
.home-banner-part-2 {
  background-image: url("/images/home/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.home-about-lendmesh {
  background-image: url("/images/home/section_1/1920.png");
  background-repeat: no-repeat;
  background-size: 100% 60%;
  background-position: 0 0;
  @media screen and (max-width: 1600px) {
    background-size: 100% 65%;
  }
  @media screen and (max-width: 1280px) {
    background-image: url("/images/home/section_1/1240.png");
    background-size: cover;
  }
  @media (max-width: 768px) {
    background-image: url("/images/home/section_1/768.png");
    background-size: cover;
  }
  @media screen and (max-width: 500px) {
    background-image: url("/images/home/section_1/375.png");
    background-size: cover;
    padding-top: 250px;
  }
  @media screen and (max-width: 400px) {
    padding-top: 220px;
  }
  @media screen and (max-width: 300px) {
    padding-top: 200px;
  }
}

.home_affordability,
.mortgage_calculator {
  color: #002144;
  transition: all 500ms linear;
  height: 25rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  background-position: center;
  &:hover {
    color: white;
    background-color: #002144;
    a {
      background-color: #6be3a2;
    }
  }
}
.home_affordability {
  background-image: url("/images/loan_solution/home_affordability.png");
  &:hover {
    background-image: url("/images/loan_solution/home_affordability.png");
  }
}
.mortgage_calculator {
  background-image: url("/images/loan_solution/mortgage_calculator.png");
  &:hover {
    background-image: url("/images/loan_solution/mortgage_calculator.png");
  }
}

.home_bank_credit_union {
  background-image: url("/images/home/home_section_2_lg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.home_any_questions {
  background-image: url("/images/home/home_section_3_lg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
}
@media (max-width: 768px) {
  .blogs {
    img {
      width: 100%;
      height: 258px;
    }
  }
}
