/*
*
*
*
* Home Banner 
*
*
*
*/
.home-banner {
  // background-image: url("./images/home/Banner_lendmesh_1920.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  @media screen and (max-width: 1280px) {
    // background-image: url("./images/home/banner-lendmesh-2.png");
    background-size: cover;
  }
  @media (max-width: 768px) {
    // background-image: url("./images/home/banner-lendmesh-2.png");
  }
  @media screen and (max-width: 600px) {
    // height: 35vh;
    // min-height: 300px;
  }
}

.home-banner-part-1 {
  background-image: url("/images/home/banner/1920/top.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  h2 {
    padding-top: 20vh;
  }
  @media screen and (max-width: 1280px) {
    background-image: url("/images/home/banner/1240/top.png");
    background-size: auto;
    h2 {
      padding-top: 100px;
    }
  }
  @media (max-width: 768px) {
    background-image: url("/images/home/banner/768/top.png");
    background-size: auto;
    h2 {
      padding-top: 275px;
    }
  }
  @media screen and (max-width: 340px) {
    background-image: url("/images/home/banner/375/top.png");
    background-size: auto;
    h2 {
      padding-top: 275px;
    }
  }
}

.home-banner-part-2 {
  background-image: url("/images/home/banner/1920/bottom.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

/*
*
*
*
* End of Home Banner 
*
*
*
*/

.home-about-lendmesh {
  background-image: url("/images/home/section_1/1920.png");
  background-repeat: no-repeat;
  background-size: 100% 60%;
  background-position: 0 0;
  @media screen and (max-width: 1600px) {
    background-size: 100% 65%;
  }
  @media screen and (max-width: 1280px) {
    background-image: url("/images/home/section_1/1240.png");
    background-size: cover;
  }
  @media (max-width: 768px) {
    background-image: url("/images/home/section_1/768.png");
    background-size: cover;
  }
  @media screen and (max-width: 500px) {
    background-image: url("/images/home/section_1/375.png");
    background-size: cover;
    padding-top: 250px;
  }
  @media screen and (max-width: 400px) {
    padding-top: 220px;
  }
  @media screen and (max-width: 340px) {
    padding-top: 200px;
  }
}

.home_affordability,
.mortgage_calculator {
  transition: all 500ms linear;
  height: 25rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  background-position: bottom;
}
.home_affordability {
  background-image: url("/images/loan_solution/home_affordability_1920.png");
}
.mortgage_calculator {
  background-image: url("/images/loan_solution/mortgage_calculator_1920.png");
  background-color: #002144;
  color: white;
}

// Home Loan Solution - Blogs
.home_bank_credit_union {
  background-image: url("/images/home/blogs/1920.png");
  background-repeat: no-repeat;
  // background-size: cover;
  // background-position: 0;
  padding-top: 20px;
  .blogs-title-one {
    padding-top: 130px;
  }
  .blogs-title-two {
    padding-top: 330px;
    padding-bottom: 100px;
  }
  @media screen and (max-width: 1280px) {
    padding-top: 50px;
    margin-top: 50px;
    background-image: url("/images/home/blogs/1240.png");

    .blogs-title-one {
      padding-top: 0;
    }
    .blogs-title-two {
      padding-top: 250px;
      padding-bottom: 50px;
    }
  }
  @media screen and (max-width: 768px) {
    padding-top: 20px;
    margin-top: 60px;
    background-image: url("/images/home/blogs/768.png");
    .blogs-title-one {
      padding-top: 0;
    }
    .blogs-title-two {
      padding-top: 130px;
      padding-bottom: 40px;
    }
  }
  @media screen and (max-width: 375px) {
    background-image: url("/images/home/blogs/375.png");
    padding-top: 0;
    margin-top: 90px;
    .blogs-title-one {
      padding-top: 0;
      top: -20px;
      position: relative;
    }
    .blogs-title-two {
      padding-top: 80px;
      padding-bottom: 50px;
    }
  }
}

.home_any_questions {
  background-image: url("/images/home/questions/1920.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
  padding-bottom: 200px;
  @media screen and (max-width: 1280px) {
    background-image: url("/images/home/questions/1240.png");
  }
  @media screen and (max-width: 768px) {
    background-image: url("/images/home/questions/768.png");
  }
  @media screen and (max-width: 375px) {
    background-image: url("/images/home/questions/375.png");
  }
}
.home-clients {
  margin-top: -150px;
}
