@use "./../../scss/variable.scss";
.lm-join-now {
  background-image: url("/images/join_now_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 500px;
}
.footer {
  background-color: #4296ea;
}
.footer-logo {
  height: 250px;
  background-image: url("/images/logo_footer.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: 80px;
  @media (max-width: 1400px) {
    margin-top: 40px;
  }
  @media (max-width: 1280px) {
    margin-top: 20px;
  }
  @media (max-width: 768px) {
    margin-top: 5px;
  }
}
